<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Student Management System</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script>
        function toAddPage()
        {
            location.replace("/toAdd");
        }
    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</head>
<body>

    <nav class="navbar navbar-light bg-light mb-5">
        <a class="navbar-brand d-flex" href="#">
            <div class="font-weight-bold ml-2" >Student Management System</div>
        </a>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col-sm-10 align-self-center" >
                <table class="table table-bordered table-dark">
                    <thead>
                        <tr>
                            <th class="text-center" scope="col" style="display:none">#</th>
                            <th class="text-center" scope="col">First Name</th>
                            <th class="text-center" scope="col">Last Name</th>
                            <th class="text-center" scope="col">Grade</th>
                            <th class="text-center" scope="col">Email</th>
                            <th class="text-center" scope="col">
                                <button id="preNew" class="btn btn-success" onclick="toAddPage()">Add New Student</button>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="user : ${users}" >
                            <td class="text-center" th:text="${user.id}" style="display:none"></td>
                            <td class="text-center" th:text="${user.firstName}" ></td>
                            <td class="text-center" th:text="${user.lastName}" ></td>
                            <td class="text-center" th:text="${user.age}" ></td>
                            <td class="text-center" th:text="${user.email}" ></td>
                            <td class="d-flex justify-content-around align-items-center">
                                <a th:href="${'http://localhost:4200/delete?id='+user.id}" onclick="return confirm('Are you sure?')">
                                    <button id="someButton" class="btn btn-danger"> Delete </button>
                                </a>
                                <a th:href="${'http://localhost:4200/toUpdate?id='+user.id+'&firstName='+user.firstName+'&lastName='+user.lastName+'&age='+user.age+'&email='+user.email}" >
                                    <button class="btn btn-warning" >Update</button>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>


</body>
</html>